p,
h1,
h3,
h4 {
  color: rgba(255, 255, 255, 0.87);
}

h2 {
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  box-shadow: 3px 3px 1px #f9b111;
  /* width:max-content; */
  padding: 10px;
  background-color: #fed70e;
  margin-top: 30px;
}

.css-r74m4g-MuiTypography-root-MuiLink-root,
a {
  color: #fed70e;
}

a:hover {
  color: #f9b111;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  /* margin: 0; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #111111;
}


.nav-tab-container {
  display: flex;
  align-items: flex-start;
}

.nav-tab-content {
  flex: 2;
  padding: 20px;
}

.nav-tab-selected-title {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
}

.nav-link {
  color: #fed70e;
}

.nav-link:hover,
.nav-link.active {
  color: #f9b111;
}

.nav {
  width: fit-content;
  margin: auto;
  margin-right: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-top: none;
  padding: 2px;
  font-size: large;
}

.tab-content {
  padding: 20px;
  margin-top: 20px;
}

.tab-title-h1 {
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  color: #fed70e;
  border-bottom: 2px solid #fed70e;
}

@media screen and (max-width: 600px) {
  .nav {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

